---
layout: base.njk
---
<script>
  // Add class to body for post layout styling
  document.body.classList.add('has-toc');

</script>
<script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag-GitHub.js"></script>

<div class="post-container">
    <article class="post">
        <header class="post-header">
            <h1 style="font-family: 'Source Code Pro', monospace, serif, sans-serif;">{{ title }}</h1>
            <time datetime="{{ date }}">{{ date | readableDate }}</time>
            {% if tags %}
                <div class="tags">
                    {% for tag in tags %}
                        {% if tag != "posts" %}
                            <span class="tag">{{ tag }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </header>

        <div class="post-content">
            {{ content | safe }}
        </div>
    </article>

    {% set tocContent = content | toc %}
    {% if tocContent %}
    <div class="toc-wrapper">
        <h2 class="toc-heading">Table of Contents</h2>
        {{ tocContent | safe }}
    </div>
    {% endif %}
</div>
